body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    height: 5rem;
    /* make header size dynamic */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0 5%;
    /* relative to the page width */
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
}

#main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    /* preparing to add space through margin */
}

#main-header li {
    margin: 0 1rem;
}

#main-header nav a {
    color: rgb(185, 131, 31);
    font-size: 1.25rem;
}

#main-header nav a:hover {
    color: rgb(228, 163, 44);
}


/* 
MAIN
 */

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 3rem;
}

#latest-products {
    width: 80%;
    /* relative to the width of entire page */
    margin: 2rem auto;
    /* margin adjusts accordingly to the user's selected font-size */
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.food-item {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    /* border radius SHOULDNT scale! */
    overflow: hidden;
}

.food-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.food-item-content {
    /* padding: 16px; */
    /* padding: 10%; */
    padding: 1em;
    text-align: center;
}

.btn {
    background-color: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
}

.btn:hover {
    background-color: rgb(221, 134, 34);
}